.flip_ahorcado {
    width: 250px;
    height: 250px;
    display: flex;
    margin: auto;
    justify-content: center;
    transform-style: preserve-3d;
    transition: all 0.6s ease;
}

.flip_ahorcado:hover {
	transform: rotateX(-180deg);
}

#ahorcado_frontal {
    width: 100%;
    height: auto;
    position: absolute;
    backface-visibility: hidden;
}

#ahorcado_trasero {
    width: 100%;
    height: auto;
    position: absolute;
    backface-visibility: hidden;
    transform: rotateX(-180deg);
}

@media (min-width: 600px) {
    .flip_ahorcado {
        width: 350px;
        height: 350px;
    }
}